 
@keyframes fadeIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
html {
  scroll-behavior: smooth;
}

.back-to-the-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(161, 26, 26, 0.88);
  color: rgb(209, 132, 132);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    z-index: 1000;
}

body{ 

  background-image: linear-gradient(rgba(102, 84, 84, 0.7), rgba(173, 29, 29, 0.8)),
                   url("fondo.jpg");
  background-size: cover;
  background-position: center center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-attachment: fixed;
  width: 100%;
  image-rendering: smooth;
  min-height: 100vh;
}

.aboutmesection {
  margin: 18px;
  padding: 10px;
  background-color: rgba(156, 54, 54, 0.88);
  border-radius: 10px;
  align-items: center;
  gap: 10px;
  display: flex;
  animation: fadeIn 1s ease-in-out forwards;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: rgba(161, 26, 26, 0.88);
    border-radius: 10px;
    animation: fadeIn 1s ease-in-out forwards;
}


.idiomas {
    margin: 20px;
    padding: 20px;
    background-color: rgba(156, 54, 54, 0.88);
    border-radius: 10px;
    align-items: center;
    font-size: medium;
    display: flex;
    animation: fadeIn 1s ease-in-out forwards;
}

.intro {
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(156, 54, 54, 0.88);
    animation: fadeIn 1s ease-in-out forwards;
}


.middle {
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
   animation: fadeIn 1s ease-in-out forwards;
}



#links{
    a {
        display: inline-block;
        margin: 10px;
        padding: 10px 20px;
        background-color: rgba(161, 26, 26, 0.88);
        color:rgb(209, 132, 132);
        text-decoration: none;
        border-radius: 5px;
        font-size: 20px;
    }
}

.aboutimage {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-left: 20px;
}

.projects {
    margin: 20px;
    padding: 10px;
    background-color: rgba(156, 54, 54, 0.88);
    border-radius: 20px;
    align-items: center;
    animation: fadeIn 1s ease-in-out forwards;
    display: flex;
}

.mate {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-left: 10px;
}


.titlelikemain {
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(156, 54, 54, 0.88);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in-out forwards;
}

.fftitlelike {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-left: 10px;
}

.favseries {
    margin: 20px;
    padding: 10px;
    background-color: rgba(156, 54, 54, 0.88);
    border-radius: 20px;
    align-items: center;
    display: flex;
    animation: fadeIn 1s ease-in-out forwards;
}

.favseriescontent {
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    animation: fadeIn 1s ease-in-out forwards;
}

.bojack {
    width: 180px;
    height: 150px;
    border-radius: 10px;
    margin-left: 10px;
}


.favgames {
    margin: 20px;
    padding: 10px;
    background-color: rgba(156, 54, 54, 0.88);
    border-radius: 20px;
    align-items: center;
    display: flex;
    animation: fadeIn 1s ease-in-out forwards;
}

.favgamescontent {
    margin: 20px;
    padding: 10px;
    background-color: rgba(156, 54, 54, 0.88);
    border-radius: 20px;
    align-items: center;
    display: flex;
    animation: fadeIn 1s ease-in-out forwards;
}

.sally {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-left: 10px;
    align-items: right;
}





